{{> head }}



    {{> navbar }}
<div class="row">
    <div class="cold-8">
        <h1>Esta es la foto que he elegido</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae distinctio dolor illo quam modi voluptate, ullam esse? Earum quae ab esse beatae nobis placeat dicta illum molestias accusantium itaque? Consequatur?
        </p>s
    </div>
    <div class="col-4">
        <img src="/public/assests/img/img.jpg" class="img-thumbnail">
    </div>
</div>

 {{> footer }}